
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  margin-top: 3rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
